.button {
  background-color: blue;
  border: none;
  border-radius: 30px;
  color: white;
  cursor: pointer;
  margin-bottom: 30px;
  margin-top: 30px;
  outline: none;
  padding: 10px 5px;
  width: 80%;
}
