.input {
  border: 0;
  border-bottom: 1px solid blue;
  display: inline-block;
  padding-top: 5px;
  padding-bottom: 5px;
  width: 80%;
}

.label {
  opacity: 0;
  position: absolute;
  pointer-events: none;
}
