.converter {
  background-color: white;
  border-radius: 5px;
  left: 50%;
  padding: 40px 10px;
  position: absolute;
  top: 50%;
  transform: translateX(-50%) translateY(-50%) translateY(-10%);
  width: 90vw;

  @media screen and (min-width: 1023px) {
    width: 40vw;
  }
}

.converted {
  background-color: #00a1cc;
  display: block;
  padding: 10px;
}
